.h1{
    text-align: center;
    margin: 5px;
}

#noBookText{
    text-align: center;
}

#checkOut {
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#login {
    margin-top: 5px;
    margin-bottom: 5px;
}

#signup {
    margin-top: 5px;
    margin-bottom: 5px;
}

#userName {
    margin-top: 5px;
}