.card {
    background-color: white;
}

.card-text {
    margin-bottom: 0px;
}

.card-img {
    width: 200px;
    height: 200px;
}


.buyNow{
    width: 200px;
}

.addToCart{
    width: 200px;
    height: 38px;
}

.inputNumber{
    margin-left: 1px;
    margin-right: 1px;
    width: 120px;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
}

#plus{
    width: 20px;
}

#minus{
    width: 40px;
}

