.card {
    background-color: cornflowerblue;
}

.card-text {
    margin-bottom: 0px;
}

.card-img {
    width: 200px;
    height: 200px;
}


.buyNow{
    width: 200px;
}

.addToCart{
    width: 200px;
}

.leftColumn{

}

.rightColumn{

}
